@media only screen and (min-width: 1400px) {
  .container {
    width: 1320px;
    //border: 1px solid black;
  } //container end
  .accordian{
    display: none;
  }
  .close {
    display: none;
  }
  .sbox1 {
    display: none;
  }
  .lasttwo{
    .row1{
      .quicklinks{
        .inner{
          display: flex;
          flex-direction: column;
          .close{
            display: none;
          }//close end
        }//inner end
      }//quicklinks end
      .topfunded{
        .inner1{
          display: flex;
          flex-direction: column;
          .close{
            display: none;
          }
        }//inner1 end
      }//topfunded end
      .resource{
        .inner2{
          display: flex;
          flex-direction: column;
          .close{
            display: none;
          }
        }//inner2 end
      }//resource end
    }//row1 end
  }//lasttwo end
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 1140px;
    //border: 1px solid red;
  } //container end
  .sbox1 {
    display: none;
  }
  .accordian{
    display: none;
  }
  .navsection {
    .logosecright {
      .close {
        display: none;
      }
      .pad {
        padding-left: 1rem;
      } //pad end
    } //logosecright end
  } //navsection end

  .trustedsec {
    gap: 19rem;
  }

  .yoga {
    justify-content: flex-start;
  }
  .expertsec {
    gap: 4rem;
  }
  .lastsec {
    .last {
      gap: 26rem;
      .lasttwo{
        .row1{
          .quicklinks{
            .inner{
              display: flex;
              flex-direction: column;
              .close{
                display: none;
              }//close end
            }//inner end
          }//quicklinks end
          .topfunded{
            .inner1{
              display: flex;
              flex-direction: column;
              .close{
                display: none;
              }
            }//inner1 end
          }//topfunded end
          .resource{
            .inner2{
              display: flex;
              flex-direction: column;
              .close{
                display: none;
              }
            }//inner2 end
          }//resource end
        }//row1 end
      }//lasttwo end
    }
  }
} //1200&1399 end

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px;
    //border: 1px solid blue;
  } //container end
  .accordian{
    display: none;
  }
  .sbox1 {
    display: none;
  }

  .navsection {
    padding: 2rem 0;
    .logosecright {
      .close {
        display: none;
      }
      .pad {
        padding-left: 1rem;
      } //pad end
    } //logosecright end
  } //navsection end
  .bannersec {
    gap: 2rem;
    .image {
      width: 85rem;
      height: 25rem;
    }
    .ivestingmade {
      .invest {
        font-size: 33px;
      }
      .btn {
        margin-top: -1rem;
      }
    } //investingmade end
  } //bannersec end
  .trustedsec {
    gap: 4rem;
  }
  .yoga {
    .img {
      height: 29rem;
    }
    .yogatext {
      margin-left: 0;
      height: 28rem;
    }
  }
  .lastsec {
    .last {
      gap: 14rem;
      .lasttwo{
        .row1{
          .quicklinks{
            .inner{
              display: flex;
              flex-direction: column;
              .close{
                display: none;
              }//close end
            }//inner end
          }//quicklinks end
          .topfunded{
            .inner1{
              display: flex;
              flex-direction: column;
              .close{
                display: none;
              }
            }//inner1 end
          }//topfunded end
          .resource{
            .inner2{
              display: flex;
              flex-direction: column;
              .close{
                display: none;
              }
            }//inner2 end
          }//resource end
        }//row1 end
      }//lasttwo end

    }//last end
  }//lastsec end
} //992&1199 end

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px;
    //border: 1px solid green;
  } //container end
  .accordian{
    display: none;
  }
  .navsection {
    //overflow: scroll;

    .logosecleft {
      .nav-icon {
        display: block;
        position: absolute;
        right: 2rem;
      }
    }
    .logosecright {
      display: none;
      flex-direction: column;
    }
  } //navsection end
  .sbox1 {
    width: 720px;
  }

  .bannersec {
    flex-direction: column-reverse;
    gap: 3rem;
    .investingmade {
      .btn {
        margin-top: 0;
      }
    }
    .image {
      width: 100%;
      height: 20rem;
    }
  } //bannersec end
  .trustedsec {
    flex-direction: column;
    gap: 2rem;
  }
  .yoga {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
    margin-bottom: 4rem;
    .img {
      width: 100%;
      height: 20rem;
    }
  } //yoga end
  .expertsec {
    flex-direction: column-reverse;
  }
  .managesec {
    .manage {
      margin-top: 6rem;
    }
    .icons {
      margin-bottom: 5rem;
    }
  } //managesec  end
  .lastsec {
    .last {
      flex-direction: column;
      align-items: baseline;
      gap: 0;
      .lasttwo{
      .row1{
        .quicklinks{
          .inner{
            display: flex;
            flex-direction: column;
            .close{
              display: none;
            }//close end
          }//inner end
        }//quicklinks end
        .topfunded{
          .inner1{
            display: flex;
            flex-direction: column;
            .close{
              display: none;
            }
          }//inner1 end
        }//topfunded end
        .resource{
          .inner2{
            display: flex;
            flex-direction: column;
            .close{
              display: none;
            }
          }//inner2 end
        }//resource end
      }//row1 end
    }//lasttwo end
    }//last end
  } //lastsec end
} //768&991

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 540px;
    // border: 1px solid lightcoral;
    padding: 0 5px;
  } //container end
  // .navsection {
  //   overflow: scroll;
  // }
  .accordian{
    display: none;
  }
  .boxshadow{
    box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.3);
  }
  .navsection {
    //overflow: scroll;
    margin-top: 1rem;
    margin-bottom: 1rem;
    .logosecleft {
      .nav-icon {
        display: block;
        position: absolute;
        right: 5rem;
      }
    }
    .logosecright {
      display: none;
      flex-direction: column;
    }
  } //navsection end
  .sbox1 {
    width: 540px;
  }
  .bannersec {
    flex-direction: column-reverse;
    gap: 3rem;
    .image {
      width: 100%;
    }
    .investingmade {
      .btn {
        margin-top: 0;
      }
    }
  } //bannersec end
  .trustedsec {
    flex-direction: column;
    gap: 4rem;
    .trustone {
      .trust {
        margin-top: 2rem;
      }
    }
    .icons {
      margin-bottom: 2rem;
    }
  }
  .yoga {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
    .img {
      width: 100%;
    }
  } //yoga end
  .expertsec {
    flex-direction: column-reverse;
    .img {
      width: 100%;
    }
    .askexpert {
      .investschedule {
        gap: 9rem;
      }
    } //askxpert end
  } //expertsec end
  .managesec {
    .manage {
      margin-top: 6rem;
    }
    .icons {
      margin-bottom: 3rem;
    }
  } //managesec  end
  .lastsec {
    .last {
      gap: 0;
      flex-direction: column;
      align-items: baseline;
      .lastone {
        margin-top: 2rem;
      }
      .lasttwo {
        .row1{
          .quicklinks{
            .inner{
              display: flex;
              flex-direction: column;
              .close{
                display: none;
              }//close end
            }//inner end
          }//quicklinks end
          .topfunded{
            .inner1{
              display: flex;
              flex-direction: column;
              .close{
                display: none;
              }
            }//inner1 end
          }//topfunded end
          .resource{
            .inner2{
              display: flex;
              flex-direction: column;
              .close{
                display: none;
              }
            }//inner2 end
          }//resource end
        }//row1 end

        .row2 {
          .callus {
            .lastsecstyle {
              font-size: 14px;
            }
          }
        }
        .c1 {
          gap: 6rem;
        }
        .c3 {
          gap: 7rem;
        }
      } //lasttwo end
    } //last end
  } //lastsec end
} //576&767

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    //border: 1px solid brown;
  } //container end
  .navsection {
    //overflow: scroll;
    padding: 2rem 0;
    padding-left: 10px;
    .logosecleft {
      .nav-icon {
        display: block;
        position: absolute;
        right: 10px;
      }
    }
    .logosecright {
      display: none;
      flex-direction: column;
      align-items: baseline;
      .sbox{
        display: none;
      }
      .pad{
        padding-left: 0;
      }
    }
  }
  .boxshadow{
    box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0);
  }
  .sbox1{
    width: 95%;
    box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.08);
  }
  .bannersec {
    .image {
      display: none;
    }
    .investingmade {
      .invest {
        font-size: 33px;
        margin-top: 2rem;
      }
      .fast{
        margin-top: 1rem;
      }
      .btn {
        margin-top: 0;
      }
    }
  } //bannersec end
  .trustedsec {
    flex-direction: column;
    gap: 3rem;
    margin-top: 15%;
    .trustone {
      .trust {
        font-size: 28px;
      }
    }
    .icons {
      gap: 1rem;
      .AMFI {
        width: 88px;
        height: 88px;
        .img {
          width: 44px;
          height: 45px;
        }
        .atr {
          font-size: 11.2px;
          text-align: initial;
        }
      } //AMFI end
      .sebi {
        width: 88px;
        height: 88px;
        .img {
          width: 45px;
          height: 45px;
        }
        .ina {
          font-size: 11.2px;
        }
      } //sebi end
      .bse {
        width: 88px;
        height: 88px;
        .img {
          width: 45px;
          height: 45px;
        }
        .mcode {
          font-size: 11.2px;
          text-align: initial;
        }
      }
    } //icons end
  } //trustedsec end
  .yoga {
    flex-direction: column;
    align-items: baseline;
    margin-top: 5rem;
    margin-bottom: 4rem;
    .img {
      width: 100%;
    }
    .yogatext {
      .learn {
        font-size: 26px;
      }
      .points {
        .intro {
          font-size: 15px;
        }
      }
      .btn {
        .wat {
          .watch {
            font-size: 15px;
          }
        }
        .button {
          padding: 1rem 1rem;
          font-size: 15px;
        }
      } // btn end
    } //yogatext end
  } //yoga
  .expertsec {
    .img {
      display: none;
    }

    .askexpert {
      .asksec {
        .ask {
          font-size: 34px;
          margin-top: 2rem;
        }
       

      }
      .investschedule {
        flex-direction: column;
        gap: 5rem;
        .investing {
          .three {
            margin-bottom: 2rem;
          }
        }
        .schedule {
          .expert {
            margin-bottom: 2rem;
          }
        }
      }
    } //askexpert end
  } //expertsec end
  .managesec {
    .now {
      font-size: 15px;
    }
    .manage {
      margin-top: 3rem;
    }
    .dd {
      margin-top: 5rem;
      margin-bottom: 1rem;
    }
    .icons {
      .s1 {
        width: 50%;
        // height: 50%;
      }
    }
  }
  .minus,.minus1,.minus2{
    display: none;
  }
  
  .iconrow{
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid #f0f0f0;
    padding: 10px;
  
  .accordian{
    width: 15px;
    height: 20px;
    opacity:0.4;

  }
  .accordian1{
    width: 10px;
  }
  }
  .boxshadow{
    margin-top:0x ;
  }
  .lastsec {
    .last {
      gap: 0;
      flex-direction: column;
      align-items: baseline;
      .lastone {
        margin-top: 4rem;
        .neo {
          font-size: 18px;
        }
        .imag {
          width: 3rem;
        }
      }
      .lasttwo {
        flex-direction: column;
        .row1 {
          gap: 1rem;
          flex-direction: column;
         // display: none;
           .quicklinks {
            width:99%;
            .iconrow{
             .last-icon {
               display: block;
          
             }//last-icon
            }//iconrow end
            .inner {
              display: none;
              flex-direction: column;
            }

         } //quicklinks end
           .topfunded {
            width:99%;
             .last-icon1 {
               display: block;
          
             }//last-icon1 end
            .inner1 {
              display: none;
              flex-direction: column;
            }
           } //topfunded end
           .resource {
            width:99%;
             .last-icon2 {
               display: block;
          
             }//last-icon2
            .inner2 {
              display: none;
              flex-direction: column;
            }
           }//resource end
        } //row1 end
        .row2 {
          flex-wrap: wrap;
          flex-direction: row-reverse;
          justify-content: space-evenly;
          .write{
            width:118px
          }
          .callus{
            width: 118px;
          }
          .downloadapp{
            .image{
              display: flex;
              justify-content: center;
            }
          }
        } //row2 end
      }
    } //last end
  } //lastsec end
  .footer {
    flex-direction: column-reverse;
    padding: 10px;
  }
  .quick {
    font-size: 16px;
  }
  .lastsecstyle {
    font-size: 13px;
  }
} //320&575px
