@media only screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
  .accordian {
    display: none;
  }
  .close {
    display: none;
  }
  .sbox1 {
    display: none;
  }
  .lasttwo .row1 .quicklinks .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lasttwo .row1 .quicklinks .inner .close {
    display: none;
  }
  .lasttwo .row1 .topfunded .inner1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lasttwo .row1 .topfunded .inner1 .close {
    display: none;
  }
  .lasttwo .row1 .resource .inner2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lasttwo .row1 .resource .inner2 .close {
    display: none;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 1140px;
  }
  .sbox1 {
    display: none;
  }
  .accordian {
    display: none;
  }
  .navsection .logosecright .close {
    display: none;
  }
  .navsection .logosecright .pad {
    padding-left: 1rem;
  }
  .trustedsec {
    gap: 19rem;
  }
  .yoga {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .expertsec {
    gap: 4rem;
  }
  .lastsec .last {
    gap: 26rem;
  }
  .lastsec .last .lasttwo .row1 .quicklinks .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row1 .quicklinks .inner .close {
    display: none;
  }
  .lastsec .last .lasttwo .row1 .topfunded .inner1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row1 .topfunded .inner1 .close {
    display: none;
  }
  .lastsec .last .lasttwo .row1 .resource .inner2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row1 .resource .inner2 .close {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .accordian {
    display: none;
  }
  .sbox1 {
    display: none;
  }
  .navsection {
    padding: 2rem 0;
  }
  .navsection .logosecright .close {
    display: none;
  }
  .navsection .logosecright .pad {
    padding-left: 1rem;
  }
  .bannersec {
    gap: 2rem;
  }
  .bannersec .image {
    width: 85rem;
    height: 25rem;
  }
  .bannersec .ivestingmade .invest {
    font-size: 33px;
  }
  .bannersec .ivestingmade .btn {
    margin-top: -1rem;
  }
  .trustedsec {
    gap: 4rem;
  }
  .yoga .img {
    height: 29rem;
  }
  .yoga .yogatext {
    margin-left: 0;
    height: 28rem;
  }
  .lastsec .last {
    gap: 14rem;
  }
  .lastsec .last .lasttwo .row1 .quicklinks .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row1 .quicklinks .inner .close {
    display: none;
  }
  .lastsec .last .lasttwo .row1 .topfunded .inner1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row1 .topfunded .inner1 .close {
    display: none;
  }
  .lastsec .last .lasttwo .row1 .resource .inner2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row1 .resource .inner2 .close {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px;
  }
  .accordian {
    display: none;
  }
  .navsection .logosecleft .nav-icon {
    display: block;
    position: absolute;
    right: 2rem;
  }
  .navsection .logosecright {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sbox1 {
    width: 720px;
  }
  .bannersec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 3rem;
  }
  .bannersec .investingmade .btn {
    margin-top: 0;
  }
  .bannersec .image {
    width: 100%;
    height: 20rem;
  }
  .trustedsec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .yoga {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  .yoga .img {
    width: 100%;
    height: 20rem;
  }
  .expertsec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .managesec .manage {
    margin-top: 6rem;
  }
  .managesec .icons {
    margin-bottom: 5rem;
  }
  .lastsec .last {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 0;
  }
  .lastsec .last .lasttwo .row1 .quicklinks .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row1 .quicklinks .inner .close {
    display: none;
  }
  .lastsec .last .lasttwo .row1 .topfunded .inner1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row1 .topfunded .inner1 .close {
    display: none;
  }
  .lastsec .last .lasttwo .row1 .resource .inner2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row1 .resource .inner2 .close {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 540px;
    padding: 0 5px;
  }
  .accordian {
    display: none;
  }
  .boxshadow {
    -webkit-box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.3);
  }
  .navsection {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .navsection .logosecleft .nav-icon {
    display: block;
    position: absolute;
    right: 5rem;
  }
  .navsection .logosecright {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sbox1 {
    width: 540px;
  }
  .bannersec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 3rem;
  }
  .bannersec .image {
    width: 100%;
  }
  .bannersec .investingmade .btn {
    margin-top: 0;
  }
  .trustedsec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;
  }
  .trustedsec .trustone .trust {
    margin-top: 2rem;
  }
  .trustedsec .icons {
    margin-bottom: 2rem;
  }
  .yoga {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .yoga .img {
    width: 100%;
  }
  .expertsec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .expertsec .img {
    width: 100%;
  }
  .expertsec .askexpert .investschedule {
    gap: 9rem;
  }
  .managesec .manage {
    margin-top: 6rem;
  }
  .managesec .icons {
    margin-bottom: 3rem;
  }
  .lastsec .last {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .lastsec .last .lastone {
    margin-top: 2rem;
  }
  .lastsec .last .lasttwo .row1 .quicklinks .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row1 .quicklinks .inner .close {
    display: none;
  }
  .lastsec .last .lasttwo .row1 .topfunded .inner1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row1 .topfunded .inner1 .close {
    display: none;
  }
  .lastsec .last .lasttwo .row1 .resource .inner2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row1 .resource .inner2 .close {
    display: none;
  }
  .lastsec .last .lasttwo .row2 .callus .lastsecstyle {
    font-size: 14px;
  }
  .lastsec .last .lasttwo .c1 {
    gap: 6rem;
  }
  .lastsec .last .lasttwo .c3 {
    gap: 7rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navsection {
    padding: 2rem 0;
    padding-left: 10px;
  }
  .navsection .logosecleft .nav-icon {
    display: block;
    position: absolute;
    right: 10px;
  }
  .navsection .logosecright {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .navsection .logosecright .sbox {
    display: none;
  }
  .navsection .logosecright .pad {
    padding-left: 0;
  }
  .boxshadow {
    -webkit-box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0);
            box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0);
  }
  .sbox1 {
    width: 95%;
    -webkit-box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.08);
  }
  .bannersec .image {
    display: none;
  }
  .bannersec .investingmade .invest {
    font-size: 33px;
    margin-top: 2rem;
  }
  .bannersec .investingmade .fast {
    margin-top: 1rem;
  }
  .bannersec .investingmade .btn {
    margin-top: 0;
  }
  .trustedsec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
    margin-top: 15%;
  }
  .trustedsec .trustone .trust {
    font-size: 28px;
  }
  .trustedsec .icons {
    gap: 1rem;
  }
  .trustedsec .icons .AMFI {
    width: 88px;
    height: 88px;
  }
  .trustedsec .icons .AMFI .img {
    width: 44px;
    height: 45px;
  }
  .trustedsec .icons .AMFI .atr {
    font-size: 11.2px;
    text-align: initial;
  }
  .trustedsec .icons .sebi {
    width: 88px;
    height: 88px;
  }
  .trustedsec .icons .sebi .img {
    width: 45px;
    height: 45px;
  }
  .trustedsec .icons .sebi .ina {
    font-size: 11.2px;
  }
  .trustedsec .icons .bse {
    width: 88px;
    height: 88px;
  }
  .trustedsec .icons .bse .img {
    width: 45px;
    height: 45px;
  }
  .trustedsec .icons .bse .mcode {
    font-size: 11.2px;
    text-align: initial;
  }
  .yoga {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
  .yoga .img {
    width: 100%;
  }
  .yoga .yogatext .learn {
    font-size: 26px;
  }
  .yoga .yogatext .points .intro {
    font-size: 15px;
  }
  .yoga .yogatext .btn .wat .watch {
    font-size: 15px;
  }
  .yoga .yogatext .btn .button {
    padding: 1rem 1rem;
    font-size: 15px;
  }
  .expertsec .img {
    display: none;
  }
  .expertsec .askexpert .asksec .ask {
    font-size: 34px;
    margin-top: 2rem;
  }
  .expertsec .askexpert .investschedule {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5rem;
  }
  .expertsec .askexpert .investschedule .investing .three {
    margin-bottom: 2rem;
  }
  .expertsec .askexpert .investschedule .schedule .expert {
    margin-bottom: 2rem;
  }
  .managesec .now {
    font-size: 15px;
  }
  .managesec .manage {
    margin-top: 3rem;
  }
  .managesec .dd {
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
  .managesec .icons .s1 {
    width: 50%;
  }
  .minus, .minus1, .minus2 {
    display: none;
  }
  .iconrow {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 1px solid #f0f0f0;
    padding: 10px;
  }
  .iconrow .accordian {
    width: 15px;
    height: 20px;
    opacity: 0.4;
  }
  .iconrow .accordian1 {
    width: 10px;
  }
  .boxshadow {
    margin-top: 0x;
  }
  .lastsec .last {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .lastsec .last .lastone {
    margin-top: 4rem;
  }
  .lastsec .last .lastone .neo {
    font-size: 18px;
  }
  .lastsec .last .lastone .imag {
    width: 3rem;
  }
  .lastsec .last .lasttwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row1 {
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row1 .quicklinks {
    width: 99%;
  }
  .lastsec .last .lasttwo .row1 .quicklinks .iconrow .last-icon {
    display: block;
  }
  .lastsec .last .lasttwo .row1 .quicklinks .inner {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row1 .topfunded {
    width: 99%;
  }
  .lastsec .last .lasttwo .row1 .topfunded .last-icon1 {
    display: block;
  }
  .lastsec .last .lasttwo .row1 .topfunded .inner1 {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row1 .resource {
    width: 99%;
  }
  .lastsec .last .lasttwo .row1 .resource .last-icon2 {
    display: block;
  }
  .lastsec .last .lasttwo .row1 .resource .inner2 {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lastsec .last .lasttwo .row2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .lastsec .last .lasttwo .row2 .write {
    width: 118px;
  }
  .lastsec .last .lasttwo .row2 .callus {
    width: 118px;
  }
  .lastsec .last .lasttwo .row2 .downloadapp .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 10px;
  }
  .quick {
    font-size: 16px;
  }
  .lastsecstyle {
    font-size: 13px;
  }
}
/*# sourceMappingURL=mobile.css.map */