html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: Avenir;
  src: url(./workshop-practice-1/assets/fonts/AvenirLTStd-Book.otf);
}
@font-face {
  font-family: Futura_Medium;
  src: url(./workshop-practice-1/assets/fonts/Futura_Medium.otf);
}
@font-face {
  font-family: FuturaBT;
  src: url(./workshop-practice-1/assets/fonts/futura_book_bt.ttf);
}
@font-face {
  font-family: Avenir_Medium;
  src: url(./workshop-practice-1/assets/fonts/Avenir_Medium.ttf);
}
@font-face {
  font-family: Avenir_Heavy;
  src: url(./workshop-practice-1/assets/fonts/Avenir_Heavy.ttf);
}
@font-face {
  font-family: FuturaBT_book;
  src: url(./workshop-practice-1/assets/fonts/futura_book_bt.ttf);
}
body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: #222222;
    a:hover {
      cursor: pointer;
    }
  }
}
.responsive{
  position: absolute;
  display: flex !important; 
  //flex-direction: column  ;
  background: lightgreen;
  top: 0;
  right: 0;
  padding: 1rem;
  height: 40vh;
  z-index: 10;
}
.responsive2{
  //position: absolute;
    display: flex !important;
   // flex-direction: column;
    right: 0;
  padding: 1rem;
   // background: lightcoral;
    z-index: 10;

}//responsive2 end

// .accordian1{
//   width: 10px;
// }

.container {
  margin: auto;
}
.container-fluid {
  // width: 100%;
  background-color: #e4faf4;
 
}
// .boxshadow{
//   box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
  //   margin-top: 6rem;
// }
.flex {
  display: flex;
} //flex end
.flexcol {
  display: flex;
  flex-direction: column;
} //flexcol end
.avenir_medium {
  font-family: Avenir_Medium;
}
.avenir_heavy {
  font-family: Avenir_Heavy;
}
.futuramedium {
  font-family: Futura_Medium;
}
.futurabtbook {
  font-family: FuturaBT_book;
}
.gradient {
  background-image: linear-gradient(180deg, #e4faf4 0%, #ffffff 100%);
}
.boxshadow{
  box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
  margin-top: 5rem;
}
.button {
  color: #ffffff;

  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
  border: none;
  background-color: #00d09c;
  border-radius: 4px;
  box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  padding: 1rem 2rem;

  &:hover {
    background-color: #009b74;
    cursor: pointer;
  }
}

.headwrapper {
  //margin: 0 auto;
  //width: 80vw;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
  line-height: 17.76px;
  color: #222222;
  padding: 1rem 0;

  .pad1 {
    padding: 0.5% 1%;

    border-right: 1px solid #dadce0;
  } //pad1 end
  .pad {
    margin-left: 5px;
  }
} //headwrapper end

.navsection {
  align-items: center;
  flex-direction: row;

  justify-content: space-between;
  padding: 3rem 0;
  //overflow: scroll;
  .logosecleft {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    .nf {
      width: 2rem;
      height: 2rem;
    }
    .neo {
      color: #222222;
      font-size: 25.92px;
      line-height: 34px;
      text-align: center;
    }
    .nav-icon{
      display: none;
      
    }//burgermenu icon
  }
  .logosecright {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    //padding: 1.5rem;
    .sbox {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #f5f5f5;
      gap: 5px;
      border-radius: 6px;
      padding: 10px;
      opacity: 0.5;
      .search {
        border: transparent;
        background-color: #f5f5f5;
      } //search end
    } //sbox end
    .pad {
      padding-left: 3rem;
    } //pad end
  } //logosecright end
} //navsection end

.sbox1 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
  background-color: #f5f5f5;
  gap: 12px;
  border-radius: 6px;
  padding: 10px;
  opacity: 0.5;

  .search1 {
    border: transparent;
    background-color: #f5f5f5;
    width: 80vw;
  } //search1 end
} //sbox1 end

.bannersec {
  gap: 15rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .investingmade {
    .invest {
      color: #222222;
      font-size: 40px;
      font-weight: normal;
      line-height: 47.95px;
      text-align: left;
      .easy {
        font-weight: bold;
        position: relative;
        z-index: 1;
      } //easy end
      .easy::before {
        content: " ";
        position: absolute;
        bottom: 12%;
        width: 104%;
        height: 15%;
        z-index: -1;
        background: aquamarine;
      }
    } //invest end
    .fast {
      color: #222222;
      font-family: Avenir;
      font-size: 17px;
      line-height: 29px;
      opacity: 0.699999988079071;

      text-align: left;
      margin-bottom: 3rem;
      margin-top: 2rem;
    } //fast end
    .button {
      font-weight: bold;
    } //button end
  } //investingmade end
  .image {
    width: 140%;
  }
} //bannersec end

.trustedsec {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //margin: 0 auto;
  // width: 80vw;
  padding: 3rem 0;
  // background-color: #e4faf4;
  box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  margin-top: 3%;
  gap: 24rem;
  .trustone {
    .trust {
      color: #222222;
      // font-family: Futura;
      font-size: 30px;
      letter-spacing: 2px;
      text-align: left;
    } //trust end
    .textreg {
      color: #222222;
      font-family: Avenir;
      font-size: 17px;
      line-height: 29px;
      opacity: 0.699999988079071;
      //width: 504px;
      text-align: left;
      margin-top: 2rem;
    }
  } // trustone end

  .icons {
    flex-direction: row;
    color: #222222;
    //font-family: Avenir;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 2rem;
    .AMFI {
      border: 1px solid rgba(0, 208, 156, 0.2);
      border-radius: 6px;
      padding: 1rem;

      .img {
        width: 60px;
        height: 60px;
      }
      .atr {
        color: #222222;
        // font-family: Avenir;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.699999988079071;
        text-align: center;
        height: 19px;
        width: 78px;
      } //atr end
    } //AMFI end
    .sebi {
      border: 1px solid rgba(0, 208, 156, 0.2);
      border-radius: 6px;
      padding: 1rem;
      .img {
        width: 60px;
        height: 60px;
      }
      .ina {
        color: #222222;
        font-family: Avenir;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.699999988079071;
        text-align: center;
      }
    }
    .bse {
      border: 1px solid rgba(0, 208, 156, 0.2);
      border-radius: 6px;
      padding: 1rem;
      .img {
        width: 60px;
        height: 60px;
      }
      .mcode {
        color: #222222;
        font-family: Avenir;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.699999988079071;
        text-align: center;
        height: 19px;
        width: 86px;
      }
    } //bse end
  } //icons
} //trustedsec end

.yoga {
  //margin: 0 auto;
  //width: 80vw;
  align-items: center;
  flex-direction: row;

  justify-content: space-evenly;
  margin-top: 10rem;
  margin-bottom: 10rem;
//  margin-top: 8rem;
  .img {
    width: 50%;
  }
  .yogatext {
   
    .about {
      color: #222222;
      // font-family: Avenir;
      font-size: 17px;
      line-height: 28px;
      opacity: 0.699999988079071;
      text-align: left;
    } //about end
    .learn {
      color: #222222;
      // font-family: Futura;
      font-size: 40px;
      line-height: 52px;
      text-align: left;
      letter-spacing: 2px;
      padding: 1rem 0;
    } //learn end
    .points {
      //display: flex;
      flex-direction: row;
      gap: 0.5rem;
      padding-bottom: 1rem;
      letter-spacing: 0.4px;
      .intro {
        color: #222222;
        font-family: Avenir;
        font-size: 17px;
        line-height: 28px;
        opacity: 0.699999988079071;
        text-align: left;
        padding-left: 10px;
      }
    } //points end
    .btn {
      flex-direction: row;
      align-items: center;
      margin-top: 2rem;

      .wat {
        flex-direction: row;
        //justify-content: space-between;
        align-items: center;
        .watch {
          color: #00d09c;
          font-family: Avenir;
          font-size: 19px;
          line-height: 28px;
          text-align: left;
          padding: 10px;
          margin-left: 12px;
        } //watch end
      } //wat end
    } //btn end
  } //yogatext end
} //yoga end

.expertsec {
  background-image: linear-gradient(180deg, #e4faf4 0%, #ffffff 100%);
  flex-direction: row;
  align-items: center;
  //margin: 0 auto;
  //width: 80vw;
  gap: 5rem;
  .askexpert {
    // display: flex;
    flex-direction: column;
    align-items: left;

    .asksec {
      .ask {
        color: #222222;
        //font-family: Futura;
        font-size: 40px;
        line-height: 52px;
        text-align: left;
        letter-spacing: 2px;
      } //ask end
      .you {
        color: #222222;
        //font-family: Avenir;
        font-size: 17px;
        line-height: 29px;
        opacity: 0.699999988079071;
        text-align: left;
        margin-top: 1rem;
        font-weight: unset;
        margin-bottom: 3rem;
      } //you end
    } //asksec end
    .investschedule {
      flex-direction: row;
      align-items: center;
      gap: 15%;
      .investing {
        .cash {
          background-color: #e8f9f5;
          border-radius: 4px;
          padding: 1rem;
          height: 63px;
          width: 57px;
        }
        .invest {
          color: #222222;
          font-family: FuturaBT;
          font-size: 24px;
          line-height: 28.77px;
          //font-weight: normal;
          text-align: left;
          margin-top: 2rem;
          letter-spacing: 0.5px;
          margin-bottom: 1rem;
        } //invest end
        .three {
          color: #222222;
          font-family: Avenir;
          font-size: 17px;
          line-height: 29px;
          opacity: 0.699999988079071;
          margin-bottom: 1rem;
          text-align: left;
        } //three end
      } //investing end
      .schedule {
        .cash {
          background-color: #e8f9f5;
          border-radius: 4px;
          padding: 1rem;
          height: 63px;
          width: 57px;
        }
        .invest {
          color: #222222;
          font-family: FuturaBT;
          font-size: 24px;
          line-height: 28.77px;
          text-align: left;
          margin-top: 2rem;
          letter-spacing: 0.5px;
          margin-bottom: 1rem;
        } //invest end
        .expert {
          color: #222222;
          font-family: Avenir;
          font-size: 17px;
          line-height: 29px;
          opacity: 0.699999988079071;
          margin-bottom: 1rem;
          text-align: left;
        } //expert end
      } //schedule end
    } //investschedule end
  } //askexpert end
  .img {
    width: 28rem;
    // padding: 2%;
    margin-top: 3rem;
  }
} //expertsec  end

.managesec {
  margin-top: 0;
  .manage {
    color: #222222;
    font-family: FuturaBT;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    margin-top: 10rem;
  } //manage end
  .now {
    color: #222222;
    font-family: Avenir;
    font-size: 17px;
    line-height: 29px;
    opacity: 0.699999988079071;
    padding-top: 1%;
    text-align: center;
  } //now end
  .dd {
    color: #222222;
    font-family: FuturaBT;
    font-size: 24px;
    margin-top: 3rem;
    text-align: center;
  } //dd end
  .icons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    gap: 2%;
  } //icons end
  .fixed {
    position: fixed;
    bottom: 40px;
    right: 0;
  } //fixed end
} //managesec end

.quick {
  color: #222222;
  //font-family: Avenir;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  padding-top: 0.7rem;
} //quick end
.lastsecstyle {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding-top: 0.7rem;
} //lastsecstyle  end


.lastsec {
  border-bottom: 1px solid #dadce0;
  
//  box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
  .last {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 35rem;
   // box-shadow: 0 -35px 20px 0 rgba(13, 138, 65, 0.03);
        //margin-top: 5%;
    padding-bottom: 10px;

    .lastone {
      .imag {
        width: 5rem;
      } //imag end

      .neo {
        color: #222222;
        //font-family: Futura;
        font-size: 30px;
        letter-spacing: 4.5px;
        margin-top: 1rem;
        text-align: left;
      } //neo end
    } //lastone end
    .lasttwo {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      margin-top: 3rem;
      .row1 {
        display: flex;
        flex-direction: row;
        gap: 4rem;
         .quicklinks{
           width: 137px;
          .last-icon{
           display: none;
                      
         }
        }//quicklinks end
        .topfunded{
          width: 158px;
          .last-icon1{
            display: none;
          
          }
        }//topfunded end
        .resource{
          width: 135px;
          .last-icon2{
            display: none;
          }
        }//resource end

      } //row1 end
      .row2 {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 4rem;
        .write{
          width: 137px;
        }
        .callus{
          width: 158px;
        }
        .downloadapp{
          width: 152px;
          .image {
            margin-top: 1rem;
           .apple{
            padding-right: 10px;
           }
          }
        }

        
      } //row2 end
    } //lasttwo end
  } //last end
} //lastsec end


.footer {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  .copy {
    color: #222222;
    font-family: Avenir;
    font-size: 12px;
    line-height: 30px;
    opacity: 0.699999988079071;
    text-align: left;
  } //copy end
  .icon {
    padding: 1%;
    .social {
      padding-right: 20px;
    } //social end
  } //icon end
} //footer end
