html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Avenir;
  src: url(./workshop-practice-1/assets/fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: Futura_Medium;
  src: url(./workshop-practice-1/assets/fonts/Futura_Medium.otf);
}

@font-face {
  font-family: FuturaBT;
  src: url(./workshop-practice-1/assets/fonts/futura_book_bt.ttf);
}

@font-face {
  font-family: Avenir_Medium;
  src: url(./workshop-practice-1/assets/fonts/Avenir_Medium.ttf);
}

@font-face {
  font-family: Avenir_Heavy;
  src: url(./workshop-practice-1/assets/fonts/Avenir_Heavy.ttf);
}

@font-face {
  font-family: FuturaBT_book;
  src: url(./workshop-practice-1/assets/fonts/futura_book_bt.ttf);
}

body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: #222222;
}

* a a:hover {
  cursor: pointer;
}

.responsive {
  position: absolute;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background: lightgreen;
  top: 0;
  right: 0;
  padding: 1rem;
  height: 40vh;
  z-index: 10;
}

.responsive2 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  right: 0;
  padding: 1rem;
  z-index: 10;
}

.container {
  margin: auto;
}

.container-fluid {
  background-color: #e4faf4;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.avenir_medium {
  font-family: Avenir_Medium;
}

.avenir_heavy {
  font-family: Avenir_Heavy;
}

.futuramedium {
  font-family: Futura_Medium;
}

.futurabtbook {
  font-family: FuturaBT_book;
}

.gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4faf4), to(#ffffff));
  background-image: linear-gradient(180deg, #e4faf4 0%, #ffffff 100%);
}

.boxshadow {
  -webkit-box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
  margin-top: 5rem;
}

.button {
  color: #ffffff;
  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
  border: none;
  background-color: #00d09c;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  padding: 1rem 2rem;
}

.button:hover {
  background-color: #009b74;
  cursor: pointer;
}

.headwrapper {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 17.76px;
  color: #222222;
  padding: 1rem 0;
}

.headwrapper .pad1 {
  padding: 0.5% 1%;
  border-right: 1px solid #dadce0;
}

.headwrapper .pad {
  margin-left: 5px;
}

.navsection {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0;
}

.navsection .logosecleft {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.navsection .logosecleft .nf {
  width: 2rem;
  height: 2rem;
}

.navsection .logosecleft .neo {
  color: #222222;
  font-size: 25.92px;
  line-height: 34px;
  text-align: center;
}

.navsection .logosecleft .nav-icon {
  display: none;
}

.navsection .logosecright {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navsection .logosecright .sbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f5f5f5;
  gap: 5px;
  border-radius: 6px;
  padding: 10px;
  opacity: 0.5;
}

.navsection .logosecright .sbox .search {
  border: transparent;
  background-color: #f5f5f5;
}

.navsection .logosecright .pad {
  padding-left: 3rem;
}

.sbox1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: auto;
  background-color: #f5f5f5;
  gap: 12px;
  border-radius: 6px;
  padding: 10px;
  opacity: 0.5;
}

.sbox1 .search1 {
  border: transparent;
  background-color: #f5f5f5;
  width: 80vw;
}

.bannersec {
  gap: 15rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bannersec .investingmade .invest {
  color: #222222;
  font-size: 40px;
  font-weight: normal;
  line-height: 47.95px;
  text-align: left;
}

.bannersec .investingmade .invest .easy {
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.bannersec .investingmade .invest .easy::before {
  content: " ";
  position: absolute;
  bottom: 12%;
  width: 104%;
  height: 15%;
  z-index: -1;
  background: aquamarine;
}

.bannersec .investingmade .fast {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.bannersec .investingmade .button {
  font-weight: bold;
}

.bannersec .image {
  width: 140%;
}

.trustedsec {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  margin-top: 3%;
  gap: 24rem;
}

.trustedsec .trustone .trust {
  color: #222222;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: left;
}

.trustedsec .trustone .textreg {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
  margin-top: 2rem;
}

.trustedsec .icons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #222222;
  font-size: 14px;
  line-height: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.trustedsec .icons .AMFI {
  border: 1px solid rgba(0, 208, 156, 0.2);
  border-radius: 6px;
  padding: 1rem;
}

.trustedsec .icons .AMFI .img {
  width: 60px;
  height: 60px;
}

.trustedsec .icons .AMFI .atr {
  color: #222222;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.699999988079071;
  text-align: center;
  height: 19px;
  width: 78px;
}

.trustedsec .icons .sebi {
  border: 1px solid rgba(0, 208, 156, 0.2);
  border-radius: 6px;
  padding: 1rem;
}

.trustedsec .icons .sebi .img {
  width: 60px;
  height: 60px;
}

.trustedsec .icons .sebi .ina {
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.699999988079071;
  text-align: center;
}

.trustedsec .icons .bse {
  border: 1px solid rgba(0, 208, 156, 0.2);
  border-radius: 6px;
  padding: 1rem;
}

.trustedsec .icons .bse .img {
  width: 60px;
  height: 60px;
}

.trustedsec .icons .bse .mcode {
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.699999988079071;
  text-align: center;
  height: 19px;
  width: 86px;
}

.yoga {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.yoga .img {
  width: 50%;
}

.yoga .yogatext .about {
  color: #222222;
  font-size: 17px;
  line-height: 28px;
  opacity: 0.699999988079071;
  text-align: left;
}

.yoga .yogatext .learn {
  color: #222222;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  letter-spacing: 2px;
  padding: 1rem 0;
}

.yoga .yogatext .points {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
  padding-bottom: 1rem;
  letter-spacing: 0.4px;
}

.yoga .yogatext .points .intro {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 28px;
  opacity: 0.699999988079071;
  text-align: left;
  padding-left: 10px;
}

.yoga .yogatext .btn {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.yoga .yogatext .btn .wat {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.yoga .yogatext .btn .wat .watch {
  color: #00d09c;
  font-family: Avenir;
  font-size: 19px;
  line-height: 28px;
  text-align: left;
  padding: 10px;
  margin-left: 12px;
}

.expertsec {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4faf4), to(#ffffff));
  background-image: linear-gradient(180deg, #e4faf4 0%, #ffffff 100%);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}

.expertsec .askexpert {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.expertsec .askexpert .asksec .ask {
  color: #222222;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  letter-spacing: 2px;
}

.expertsec .askexpert .asksec .you {
  color: #222222;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
  margin-top: 1rem;
  font-weight: unset;
  margin-bottom: 3rem;
}

.expertsec .askexpert .investschedule {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15%;
}

.expertsec .askexpert .investschedule .investing .cash {
  background-color: #e8f9f5;
  border-radius: 4px;
  padding: 1rem;
  height: 63px;
  width: 57px;
}

.expertsec .askexpert .investschedule .investing .invest {
  color: #222222;
  font-family: FuturaBT;
  font-size: 24px;
  line-height: 28.77px;
  text-align: left;
  margin-top: 2rem;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.expertsec .askexpert .investschedule .investing .three {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  margin-bottom: 1rem;
  text-align: left;
}

.expertsec .askexpert .investschedule .schedule .cash {
  background-color: #e8f9f5;
  border-radius: 4px;
  padding: 1rem;
  height: 63px;
  width: 57px;
}

.expertsec .askexpert .investschedule .schedule .invest {
  color: #222222;
  font-family: FuturaBT;
  font-size: 24px;
  line-height: 28.77px;
  text-align: left;
  margin-top: 2rem;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.expertsec .askexpert .investschedule .schedule .expert {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  margin-bottom: 1rem;
  text-align: left;
}

.expertsec .img {
  width: 28rem;
  margin-top: 3rem;
}

.managesec {
  margin-top: 0;
}

.managesec .manage {
  color: #222222;
  font-family: FuturaBT;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  margin-top: 10rem;
}

.managesec .now {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  padding-top: 1%;
  text-align: center;
}

.managesec .dd {
  color: #222222;
  font-family: FuturaBT;
  font-size: 24px;
  margin-top: 3rem;
  text-align: center;
}

.managesec .icons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2%;
  gap: 2%;
}

.managesec .fixed {
  position: fixed;
  bottom: 40px;
  right: 0;
}

.quick {
  color: #222222;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  padding-top: 0.7rem;
}

.lastsecstyle {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding-top: 0.7rem;
}

.lastsec {
  border-bottom: 1px solid #dadce0;
}

.lastsec .last {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35rem;
  padding-bottom: 10px;
}

.lastsec .last .lastone .imag {
  width: 5rem;
}

.lastsec .last .lastone .neo {
  color: #222222;
  font-size: 30px;
  letter-spacing: 4.5px;
  margin-top: 1rem;
  text-align: left;
}

.lastsec .last .lasttwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
}

.lastsec .last .lasttwo .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4rem;
}

.lastsec .last .lasttwo .row1 .quicklinks {
  width: 137px;
}

.lastsec .last .lasttwo .row1 .quicklinks .last-icon {
  display: none;
}

.lastsec .last .lasttwo .row1 .topfunded {
  width: 158px;
}

.lastsec .last .lasttwo .row1 .topfunded .last-icon1 {
  display: none;
}

.lastsec .last .lasttwo .row1 .resource {
  width: 135px;
}

.lastsec .last .lasttwo .row1 .resource .last-icon2 {
  display: none;
}

.lastsec .last .lasttwo .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 4rem;
}

.lastsec .last .lasttwo .row2 .write {
  width: 137px;
}

.lastsec .last .lasttwo .row2 .callus {
  width: 158px;
}

.lastsec .last .lasttwo .row2 .downloadapp {
  width: 152px;
}

.lastsec .last .lasttwo .row2 .downloadapp .image {
  margin-top: 1rem;
}

.lastsec .last .lasttwo .row2 .downloadapp .image .apple {
  padding-right: 10px;
}

.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .copy {
  color: #222222;
  font-family: Avenir;
  font-size: 12px;
  line-height: 30px;
  opacity: 0.699999988079071;
  text-align: left;
}

.footer .icon {
  padding: 1%;
}

.footer .icon .social {
  padding-right: 20px;
}
/*# sourceMappingURL=styles.css.map */